.div-cardapio {
    height: 60rem;
    width: 60%;
    margin: 2rem auto;

    h1 {
        font-family: 'Anton';
        color: #000;
        margin: 0;
        text-align: center;
    }

    hr {
        width: 4rem;
        height: 0.3rem;
        background-color: #FFC700;
        border: none;
    }

    .row-cardapio {
        display: flex;
        flex-direction: row;
        margin: 4rem 2rem 4rem 2rem;
        align-items: center;

        h2 {
            margin: 0;
        }

        .col-img {
            width: 60%;
            height: 20rem;
            border-radius: 1rem;
            margin-left: 2rem;
            width: 100%;
        }

        .col-texto {
            display: flex;
            flex-direction: column;
            justify-content: start;
        }

        button.btnCardapio {
            font-family: 'Myriad Pro';
            font-weight: bolder;
            padding: 1rem 1.5rem 1rem 1.5rem;
            background: white;
            color: #070707;
            border: 2px solid #070707;
            border-radius: 2rem;
            cursor: pointer;
            width: 50%;
            
        }
        
        
    }
    button.btnCardapioCompleto {
        font-family: 'Myriad Pro';
        font-weight: bolder;
        padding: 1rem 1.5rem 1rem 1.5rem;
        background: #070707;
        color: white;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        width: 50%;
        
    }
}

@media only screen and (max-width: 800px) {
    .div-cardapio {
        height: 85rem;
        width: 100%;
        margin: 2rem auto 0 auto;

        .desktop-cardapio {
            display: none;
        }

        .mobile-cardapio {
            .row-cardapio {
                flex-direction: column;
                margin: 0;

                .col-texto {
                    width: 70%;
                    margin-top: 1rem;
                }

                .col-img {
                    height: 20rem;
                    width: 100%;
                    margin: 1rem auto;

                    img {
                        border-radius: 0;
                        object-position: top;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
    .div-cardapio {
        height: 55rem;
        width: 80%;

        .mobile-cardapio {
            display: none;
        }

        .desktop-cardapio {
            margin: 2rem 0rem 2rem 2rem;
        }

    }
}

@media only screen and (min-width: 1201px) {
    .div-cardapio {
        .mobile-cardapio {
            display: none;
        }
    }
}
