.App-header {
  height: 6.5rem;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;

  .logo {
    cursor: pointer;
  }

  .nav-cardapio, .nav-reservas, .nav-programacao, .nav-eventos, .nav-karaoke{
    font-weight: bolder;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .col2 {
    display: flex;
    flex-direction: row;
  }

}

@media only screen and (max-width: 1365px) {
  .App-header {
    .desktop-version {
      display: none;
    }

    .logo {
      width: 4rem;
      margin-left: 2rem;
      margin-right: 3rem;
    }

    .mobile-version > img {
      width: 2rem;
      margin-right: 3rem;
    }
  }
}

/* @media only screen and (min-width: 1366px) and (max-width: 1919px) {
  .App-header {
    height: 6.5rem;

    .logo {
      width: 5rem;
      margin-left: 3rem;
      margin-right: 3rem;
    }
    
    .desktop-version {
      .nav-cardapio, .nav-reservas, .nav-programacao, .nav-eventos, .nav-karaoke{
        margin-right: 2rem;
      }
    }

    .mobile-version {
      display: none;
    }
  }
} */

@media only screen and (min-width: 1366px) {
  .App-header {
      height: 6.5rem;
  
      .logo {
        width: 4.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
      }
      
      .desktop-version {
        .nav-cardapio, .nav-reservas, .nav-programacao, .nav-eventos, .nav-karaoke{
          margin-right: 2rem;
        }
      }

      .mobile-version {
        display: none;
      }
  
  }
}
