.App-header {
    background-color: #000000;
    height: 6.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;

    a {
      text-decoration: none;
      color: white;
    }
  }

.logo {
  width: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  cursor: pointer;
}

.nav-cardapio, .nav-reservas{
  margin-right: 2rem;
}

.nav-cardapio, .nav-reservas, .nav-programacao, .nav-eventos{
  font-weight: bolder;
  cursor: pointer;
}
