.div-intro {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col-img, .col-img2 {
    width: 60%;
    height: 25rem;
    border-radius: 1rem;
}

.col-img {
    margin-right: 2rem;
}

.col-img2 {
    margin-left: 2rem;
}

.col-texto, .col-texto2 {
    width: 100%;
    color: #070707;

    h2 {
        font-family: 'Anton';
        text-align: start;
        margin-top: 0;
        color: #070707;
    }
    
    p {
        font-size: 1.2rem;
        font-weight: lighter;
        text-align: justify;
        line-height: 2rem;
        color: #070707;
    }
}


.img {
    width: 100%;
    height: 100%;
    object-position: left;
    object-fit: cover;
    border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
    .div-intro {
        height: 77rem;
        .desktop-intro {
            display: none;
        }

        .mobile-intro {
            .row-img {
                width: 100%;
                height: 18rem;
            }

            .row-txt {
                width: 80%;
                margin: 1rem auto;

                p {
                    font-size: 1.2rem;
                    text-align: center;
                }

                h2 {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }

            .img {
                border-radius: 0;
            }
        }
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .div-intro {
        .mobile-intro {
            display: none;
        }

        .desktop-intro {
            height: 55rem;
            .row {
                width: 80%;
                margin: 2rem auto;
                padding: 1rem 4rem;
            }
        }

    }
}

@media only screen and (min-width: 1201px) {
    .div-intro {
        .mobile-intro {
            display: none;
        }

        .desktop-intro {
            height: 60rem;
            .row {
                width: 70%;
                margin: 2rem auto;
                padding: 2rem 4rem;

                .col-img, .col-img2 {
                    height: 26rem;
                }

                .col-texto, .col-texto2 {
                
                    h2 {
                        font-size: 2.5rem;
                    }
                    
                    p {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}