div.div_programacao {
color: #ffffff;
background-color: #070707;
width: 100%;

    div.prog-content{
        width: 80%;
        margin: auto;

        h1 {
            font-family: 'Anton';
        }
    
        div.row_title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 2rem;
            
            button.btnProgCompleta {
                    font-family: 'Myriad Pro';
                    font-weight: bolder;
                    background: #FFF;
                    color: #070707;
                    border: none;
                    border-radius: 2rem;
                    cursor: pointer;
                    height: 3rem;
                    margin: auto 0;
                    
            }
        }
    
        hr.line {
            width: 6rem;
            height: 0.3rem;
            background-color: #FFC700;
            border: none;
            margin-top: 0;
            margin-left: 0;
        }
    }

}

@media only screen and (max-width:1000px) {
    h1 {
        font-size: 1.5rem;
    }

    button.btnProgCompleta {
        height: 2rem;
        width: 40%;
        font-size: 0.7rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        
    }
}

@media only screen and (min-width:1001px) {
    h1 {
        font-size: 1.5rem;
    }

    button.btnProgCompleta {
        padding: 1rem 1.5rem 1rem 1.5rem;
        
    }
}