.div-contato {
    height: 20rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    h1 {
        font-family: 'Anton';
        color: #070707;
        margin: 0;
        text-align: start;
    }

    p {
        text-align: start;
    }

    hr.line {
        width: 4rem;
        height: 0.3rem;
        background-color: #FFC700;
        border: none;
    }
    
    div.row-icons{
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    div.row-icons>a>img {
        width: 40px;
        margin-right: 0.5rem;
    }
}

@media only screen and (max-width: 800px) {
    .div-contato {
        height: 25rem;
        margin-top: 2rem;

        .contato-desktop {
            display: none;
        }
    }
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
    .div-contato {
        .contato-mobile{
            display: none;
        }

        .contato-desktop {
            margin-top: 2rem;
        }

    }
}

@media only screen and (min-width: 1201px) {
    .div-contato {
        .contato-mobile {
            display: none;
        }
    }
}