.App {
  text-align: center;
  display: grid;

  .sidebar {
    display: block;
    top: 0px;
    left: 0;
    translate: 0px 0px;
    width: 90%;
    position: fixed;
    background-color: #070707;
    opacity: 90%;
    translate: -100% 0px;
    transition: 0.5s ease;
    z-index: 9000;
    font-family: 'Anton';
    color: white;
    height: 100%;
  }
  
  .sidebar nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .sidebar.open {
    translate: 0px 0px;
  }
}
